= simple_form_for(import, url: account_imports_path(import.account)) do |f|
  %p Create items in <strong>#{f.object.account}</strong>.

  - if f.object.errors[:content].blank?
    - if f.object.uncategorized_items.present?
      = render 'categorize', f: f

    - if f.object.invalid_items.present?
      = render 'invalid', f: f

    - if f.object.valid_items.present?
      = render 'items', f: f, items: f.object.valid_items

  = f.input :content, as: :text

  - if f.object.content.blank? || f.object.errors[:content].present?
    = render 'example'

  = simple_form_submit(f)
