= render 'sidebar' do
  = simple_form_for(current_import, url: wizard_path(step), method: :put) do |f|
    %p This will create items in <strong>#{f.object.account}</strong>.

    - if f.object.invalid_items.present?
      %h2 Invalid items
      %p The following items are invalid. Please fix the content and try again:

      .row
        .col-sm-1
          %strong Line
        .col-sm-6
          %strong Name
        .col-sm-5
          %strong Error

      - f.object.invalid_items.each do |item|
        .row
          .col-sm-1= item.index
          .col-sm-6= item.name
          .col-sm-5= item.row_errors
      %hr

    = f.input :content, as: :text

    - if f.object.content.blank? || f.object.errors[:content].present?
      .well
        %p
          %strong Example TD Canada Trust Content

        Date,Name,Debit,Credit,Balance,Note
        %br
        11/25/2017,SAFEWAY #8904,11.90,,1748.99
        %br
        11/30/2017,DOMINOS 10116,29.08,,1788.19
        %br
        11/30/2017,PAYMENT - THANK YOU,,1759.11,29.08

      .well
        %p
          %strong Example Servus Content

        ID, Date, Account Name, Description1, Amount, Balance
        %br
        441691406,2021-12-31,Business Pay As You Go-0,"Service Fee",-11.00,2326.24
        %br
        855397528,2021-12-28,Business Pay As You Go-0,"Service Charge - Interac e-Transfer",-1.50,2337.24

    = simple_form_submit(f)
