%p Account Type: #{account.category}

= tabs do
  - account.items_by_year.each do |year, items|
    = tab(year.to_s) do
      %ul
        - items.each do |item|
          %li= item

  = tab 'Items' do
    = render_datatable AccountItemsDatatable.new(account_id: account.id)
  = tab 'Imports' do
    = render_datatable AccountImportsDatatable.new(account_id: account.id)
