.row.year-row
  .col-md-3.no-padding
    .col-md-9.col-category= row[0]
    .col-md-3= norp(row[1])
  .col-md-3.no-padding
    .col-md-3= norp(row[2])
    .col-md-3= norp(row[3])
    .col-md-3= norp(row[4])
    .col-md-3= norp(row[5])
  .col-md-3.no-padding
    .col-md-3= norp(row[6])
    .col-md-3= norp(row[7])
    .col-md-3= norp(row[8])
    .col-md-3= norp(row[9])
  .col-md-3.no-padding
    .col-md-3= norp(row[10])
    .col-md-3= norp(row[11])
    .col-md-3= norp(row[12])
    .col-md-3.col-total= norp(row[13])
