%h3 Income
- credits = AccountYear.new(account: account, year: year, credits: true)

%table.table.table-account.table-hover
  %thead
    %th
    - credits.months.each do |month|
      %th= month.strftime('%b')
    %th #{year} Total

  %tbody
    - item_category_collection(credits).each do |category_group, categories|
      - next unless categories.present?
      - next if categories.none? { |(name, category_id)| credits.collection[category_id].present? }

      %tr.category-header
        %th{colspan: 14}
          %em= category_group

      - categories.each do |(name, category_id)|
        - next unless (row = credits.collection[category_id])
        %tr
          %td.category= row[0]
          - (1..12).each do |x|
            %td.items= frow(row[x])
          %td.total= frow(row[13].sum(&:amount))

      %tr.category-footer
        %th{colspan: 13}
        %td.total= frow(categories.flat_map { |(name, category_id)| credits.collection[category_id]&.last }.compact.sum(&:amount))

    %tr.category-header
      %th{colspan: 14}

  %tfoot
    - row = credits.totals
    %tr
      %td.category #{year} Total
      - (1..12).each do |x|
        %td.items= frow(row[x].sum(&:amount))
      %td.total= price_to_currency(row[13].sum(&:amount))

%h3 Expenses
- debits = AccountYear.new(account: account, year: year, debits: true)

%table.table.table-account.table-hover
  %thead
    %th
    - debits.months.each do |month|
      %th= month.strftime('%b')
    %th #{year} Total

  %tbody
    - item_category_collection(debits).each_with_index do |(category_group, categories), index|
      - next unless categories.present?
      - next if categories.none? { |(name, category_id)| debits.collection[category_id].present? }

      %tr.category-header
        %th{colspan: 14}
          %em= category_group

      - categories.each do |(name, category_id)|
        - next unless (row = debits.collection[category_id])
        %tr
          %td.category= row[0]
          - (1..12).each do |x|
            %td.items= frow(row[x])
          %td.total= frow(row[13].sum(&:amount))

      %tr.category-footer
        %th{colspan: 13}
        %td.total= frow(categories.flat_map { |(name, category_id)| debits.collection[category_id]&.last }.compact.sum(&:amount))

    %tr.category-header
      %th{colspan: 14}

  %tfoot
    - row = debits.totals
    %tr
      %td.category #{year} Total
      - (1..12).each do |x|
        %td.items= frow(row[x].sum(&:amount))
      %td.total= price_to_currency(row[13].sum(&:amount))
